<header class="site-header">
  <a class="brand" href="/computers">Simple Inventory</a>

  <nav class="site-nav">
    <% navItems.forEach((item) => { %>
      <a class="<%= navKey === item.key ? 'is-active' : '' %>" href="<%= item.href %>">
        <%= item.label %>
      </a>
    <% }) %>
  </nav>
</header>
